@import "{{ site.theme }}";

body {
    background-image: url('/assets/img/paper-tileable-416x485.jpg');
    background-position: center;
}

header {
    text-align: center;
}

header img.logo {
    width: 100%;
    max-width: 368px;
    max-height: 256px;
}

header div.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

header div.navbar div.nav-item {
    
}